/***********************************************************
************************************************************
Author: Mónica Cordero Sancho
Author website: https://monicacorderosancho.github.io
License or copyright: esta web se construyó con base a lo aprendido en las clases y tutorias con Miguel Paz, profesor de Cuny Graduate School of Journalism.
Version: dic 2018

/******************************************************
*******************************************************
2. Header & Nav styles 
*******************************************************
******************************************************/


/* Header */

header {
  background-color: #ff6a2b;
  background-size: cover;
  color: #ffffff;
  font-family: AdelleBold,'Helvetica Neue', Helvetica, sans-serif; 
  text-align: center;
}

.display, .summary, .author { color: #ffffff;}

/*header h1 story title*/
.display {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  padding: 40px 20px 10px 20px;
  /* Top, right, bottom, left */
}

/*header h2 lead*/
.summary {
  font-family: 'PT Serif',Georgia,serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  padding: 0px 20px;
  margin: 0px 60px;
}

/*header h3 byline*/
.author {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 40px;
 
}

/*header h3 a byline link*/
.author a {
  color: #ffffff;
  text-decoration: none;
}

/*header h3 a:hover byline link on hover*/
.author a:hover {text-decoration: underline;}


/* Navigation */

nav {
  text-align: center;
  padding: 10px 0px 10px 0px;
   width: 100%;
  background: rgba(10, 10, 10, 1);
  }

li {
  display: inline;
 
  padding: 0px 10px 0px 10px;
 
}

/*links in nav menu*/
nav ul li a {
  color: #ffffff;
  font-family: 'PT Serif',Georgia,serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

/*links in nav on hover*/
nav ul li a:hover {text-decoration: underline;}


/******************************************************
*******************************************************
3. Main body content Cambio leytra articulo
*******************************************************
******************************************************/

article {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  text-align: justify;
 
}

/* Body headings */

h1, h2, h3, h4, h5, h6 { 
	font-family: 'PT Serif',Georgia,serif; 
	font-weight: 400;  
	color: #0a0a0a;}

h2 {font-size: 24px;}

/* Image, figure and figcaption styles from general to specific */

figure {
  display: block;
  /* in this way it fills the width of the parent element article */
  margin: 0px;
  /* no margin to avoid extra space around the element */
}

/*give images a max-width of 100%*/
img {
  max-width: 100%;
  height: auto;
  /* adjust the height of image to the max-width */
}

/*figcaption inherits font size and line height from global styles*/
figcaption {
  text-align: center;
  font-family: 'PT Serif',Georgia,serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  padding: 2px 2px;
}

/*full width figure and figcaption for images set to full width of the viewport*/
.full-width
{
  width: 100vw;
  /* vw means viewport width */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.full-width-caption {padding: 5px 30px 5px 30px;}

/*div container for the 3 images and captions*/
.img-wrapper {
  display: flex;
  /* flex-wrap: wrap;  Delete this one after testing mediaqueries for images*/
  flex-direction: row;
  justify-content: space-between;
}

.img-wrapper figure {width: 200px;}


/* Links in body */

a {
  color: #ff6a2b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #0a0a0a;
}


/* Blockquotes */

blockquote {
  border-top: 4px solid #ff6a2b;
  border-bottom: 4px solid #ff6a2b;
  color: #0a0a0a;
  font-family: 'PT Serif',Georgia,serif;
  font-size: 24px;
  margin: 30px;
  padding: 30px;
  text-align: center;
}


/******************************************************
*******************************************************
4. Twitter Embed Code 
*******************************************************
******************************************************/


blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}



blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}



blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}



blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}


/******************************************************
*******************************************************
5. Footer content 
*******************************************************
******************************************************/

footer {
  text-align: center;
  background: rgba(10, 10, 10, 1);
  color: #ffffff;
  padding: 20px 30px;
}

footer p {
  font-family: 'PT Serif',Georgia,serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-info a {
  color: #ffffff;
  padding: 10px;
  display: inline-block;
}

.contact-info a:hover {
  color: #ff6a2b;
}


/******************************************************
*******************************************************
6. Mediaqueries 
*******************************************************
******************************************************/


/* MEDIA QUERIES. 

@media (max-width: 700px) {
  /* Now after that add some styles that will make the page look better at narrower widths and mobile devices.*/
  li {
    display: block;
    padding: 5px;
  }

  nav ul li a/*links in nav menu*/
  {
    font-size: 12px;
  }

  .display/*header h1 story title*/
  {
    font-size: 36px;
  }
  .summary/*header h2 lead*/
  {
    font-size: 18px;
    margin: 0 auto;
  }
  .author/*header h3 byline*/
  {
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }
  figcaption {
    font-size: 14px;
  }
  blockquote {
    font-size: 18px;
  }

  .img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}












