.content
{
	width:400px;
	margin:auto;
	margin-top:10%;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
		.content
		{
			width: 320px;
		}
}

.titulo {
	font-family: 'Indie Flower', cursive;
	font-size: 3em;
	text-align: center;
	margin-bottom: 2em;
}

.estilo {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	text-align: center;
	color:#FF7043;
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li {
	margin: 2em;
}

.nyctexto {
	font-family: 'Indie Flower', cursive;
	font-size: 0.9em;
	margin: 5em;
	text-align: left: ;
}
