.barras{
	color: black;
	display: inline-block;
	margin: 30px;
}

.barra{
	display: inline-block;
	width: 115px;
	text-align: center;
	margin-left: 20px;
 	/*border-style: solid;
	border-color: #ff0000 #0000ff;*/
}


.bar{
	background: #80CBC4;
	width: 50px;
	display: inline-block;
	align-content: left;
	/*border-style: solid;
	border-color: #ff0000 #0000ff;*/
}


.label

{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: bold;
font-size: 15px;
margin-top: 30px;
/*border-style: solid;
border-color: #ff0000 #0000ff;*/

}

.encabezado

{

font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight:bold;
font-size: 40px;
text-align: center;

}

.texto

{

font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 22px;
text-align: left;
margin-left: 50px;
}

.texto1

{

font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12px;
text-align: left;
margin-left: 50px;

}




